<h1>Selamat Datang di Aplikasi Node.js</h1>
<a href="https://www.google.com">Klik di sini untuk mengunjungi Google</a>
<hr>
<button><a href="/profil">Lihat Profil</a></button>
<hr>
<button onclick="alert('Halo Mau Ngapain Kamu,Klik aku ?!')">Klik Saya</button>